* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    height: 70%;
    width: 100%;
    background-color: aquamarine;


    .portada {
        height: 70%;
        width: 100%;
        background-color: blueviolet;
        position: relative;

        .imagen-resto {
            height: 100%;
            width: 100%;
            background-color: aquamarine
        }

        .saludo {
            position: absolute;
            bottom: 50px;
            left: 20px;
            height: 100px;
            width: calc(100% - 40px);
         }

        .buscador {
            position: absolute;
            height: 40px;
            width: 90%;
            left: 5%;
            background-color: rgb(255, 255, 255);
            bottom: -20px;
            display: flex;

            .ubicacion {
                height: 40px;
                width: 40px;
                background-color: red;
            }

            input[type=search] {
                height: 40px;
                width: calc(100% - 80px);
            }

            input[type=submit] {
                height: 40px;
                width: 40px;
                background-color: red;

            }
        }
    }

    .categorias {
        height: 30%;
        width: 100%;
        background-color: yellow;
    }

}

main {
    height: 30% auto;
    width: 100%;
    background-color: crimson;
    padding: 10px;

    .resultados {
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 20px;

        article.resto {
            height: 100px;
            width: 100%;
            background-color: rgb(173, 113, 113);
            color: white;
            font-size: 30pt;
            position: relative;

            .img_resto{
                background-color: yellow;
                height: 100%;
                width: 50%;
                position: absolute;
                left: 0;
            }
            .datos_resto{
                background-color: green;
                height: 100%;
                width: 60%;
                position: absolute;
                right: 0;
                border-bottom-left-radius: 20px;
                box-shadow: 0 0 15px -2px black;

            }

            
        }

    }
}






@media (orientation: landscape) {
    main {
        .resultados {
            flex-direction: row;
            flex-wrap: wrap;

            .resto {
                /* flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 50%; */
                flex: 0 0 calc(50% - 10px);
                background-color: yellow;
            }
        }

    }




}